@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.Cinzel {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
}

.letter-space {
  letter-spacing: 6px;
}

.thumbs {
  width: fit-content;
  margin-left: auto !important;
  margin-right: auto !important;
}

.Raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.tab:checked {
  color: #BB8506;
  font-weight: 700;
  border-bottom: 3px solid #BB8506 !important;
}

.tab {
  font-weight: 500;
  border: none !important;
}

li:focus {
  outline: none !important;
}

.menu li a:focus {
  @apply text-yellow-300 !important;
}

.disabled:disabled {
  @apply text-white !important;
}

/* .tabs-bordered {
  background-color: red !important;
} */

/* 
.tab::after {
  color: #BB8506;
} */


/* .swiper-pagination {
  @apply bg-red-500 !important;
} */